body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: rgb(210, 209, 215);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}